.navbar-container{
    width: 100vw;
    border-bottom: 2px gray solid;
    padding: 8px 10px 8px 10px;
    font-size: 15px;
    height: 5vh;
   
    

}
.navbar-text{
    font-size: 32px;
    font-weight: 600;
}

@media (min-width:640px) {
    .navbar-container{
        padding: 0px 10px 0px 10px;
        height: 8vh;

    }
    .navbar-text{
        font-size: 22px;
        font-weight: 600;
    }

    
    
}



@media (max-width:639px) {
    .navbar-container{
        padding: 0px 5px 0px 5px;

    }
    .navbar-text{
        font-size: 14px;
    }
    
    
}




@media (max-width:540px) {
    
    
    
    
}