.navbar-container{
    width: 100vw;
    border-bottom: 2px gray solid;
    padding: 8px 10px 8px 10px;
    font-size: 15px;
    height: 5vh;
   
    

}
.navbar-text{
    font-size: 32px;
    font-weight: 600;
}
.navbar-text{
    font-size: 32px;
    font-weight: 600;
}

@media (min-width:640px) {
    .navbar-container{
        padding: 0px 12px 0px 12px;

    }
    
}


.navbar-text{
    font-size: 22px;
    font-weight: 700;
}